/* styling voor dept */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: var(--grey-lightest);
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: var(--grey-lightest);
    min-width: 320px;
    max-width: 1440px;
    gap: 0 1rem;

    @media (min-width: 660px) {
        grid-template-columns: repeat(12, 1fr);
        margin: 0 auto;
    }
}

.description {
    background-color: var(--purple);
    grid-column: 1 / -1;
    color: var(--grey-lightest);

    .description-content {
        padding: var(--spacing-medium-horizontal);

        h1 {
            font-size: 36px;
        }
    }

    @media (min-width: 660px) {
        grid-column: 1 / 7;
    }
}

.forecast {
    /* background-color: var(--grey-neutral); */
    grid-column: 1 / -1;
    display: grid;

    h2 {
        font-size: 35px;
        height: min-content;
    }

    .forecast-content {
        padding: var(--spacing-medium-horizontal);

        table {
            width: 100%;

            tbody {
                display: grid;
                padding: var(--spacing-small-vertical);

                tr {
                    display: inherit;
                    justify-content: left;
                    width: 100%;
                    justify-content: space-between;

                    td {
                        grid-row: 2;
                        text-align: center;
                        display: flex;
                        justify-content: left;
                        gap: 10px;

                        img {
                            width: 24px;
                            height: 24px;
                        }
                    }

                    td:first-child {
                        grid-row: 1;
                        grid-column: 1 / 3;
                        text-wrap: nowrap;
                        width: 120px;
                    }
                }
            }
        }

        form {
            padding: var(--spacing-small-vertical);



            fieldset {
                border: none;
                display: grid;
                gap: 10px;

                @media (min-width: 660px) {
                    grid-template-columns: 1fr 1fr;
                    max-width: 450px;

                }

                legend {
                    padding: var(--spacing-small-vertical);
                    font-weight: bold;
                }

                label {
                    gap: 10px;

                    input {
                        width: 100%;
                        padding: 16px 20px;
                        border-radius: 999px;
                        border: 1px solid var(--black);
                        color: var(--black);

                        &::placeholder {
                            color: var(--black);
                            text-align: center;
                        }

                        @media (min-width: 660px) {
                            width: min-content;
                        }
                    }
                }

                button {
                    padding: 16px 20px;
                    border-radius: 999px;
                    border: none;
                    background-color: var(--black);
                    color: var(--grey-lightest);
                    cursor: pointer;

                    @media (min-width: 660px) {
                        width: min-content;
                    }
                }
            }
        }
    }

    @media (min-width: 660px) {
        grid-column: 1 / 7;
    }

}

.activities {
    background-color: var(--grey-lightest);
    grid-column: 1 / -1;

    @media (min-width: 660px) {
        grid-column: 8 / 13;
        grid-row: 1 / 3;
    }

    .activities-content {
        padding: var(--spacing-medium-horizontal);

        .current-temp {
            display: grid;
            grid-template-columns: 1fr;
            background-color: var(--grey-light);
            padding: var(--spacing-large);

            @media (min-width: 660px) {
                grid-template-columns: min-content 1fr;
            }

            h2 {
                grid-column: 1;
                grid-row: 2;
                margin: 1.5rem auto 0 auto;
                font-size: 18px;
                line-height: 28px;
                font-weight: bold;

                @media (min-width: 660px) {
                    grid-column: 2;
                    grid-row: 1;
                }
            }

            p:first-of-type {
                padding: var(--spacing-medium-vertical);
                font-size: 5.625rem;

                @media (min-width: 660px) {
                    grid-column: 1;
                    grid-row: 2;
                }
            }

            p:last-child {
                line-height: 30px;
                font-weight: 300;

                @media (min-width: 660px) {
                    grid-column: 2;
                    grid-row: 2;
                }
            }
        }

        h3 {
            font-weight: bold;
            font-size: 20px;
        }

        article {
            margin: var(--spacing-medium-vertical);

            button {
                display: grid;
                text-align: left;
                gap: 0 .5rem;
                border: none;
                background-color: transparent;
                cursor: pointer;
                transition: ease-in-out .3s;

                &:hover {
                    background-color: var(--grey-light);

                }

                @media (min-width: 660px) {
                    grid-template-columns: 110px max-width;
                }


                .modal-button {
                    cursor: pointer;
                    border: unset;
                }

                h5 {
                    @media (min-width: 660px) {
                        grid-column: 2;
                        grid-row: 1;
                    }
                }

                p {
                    @media (min-width: 660px) {
                        grid-column: 2;
                        grid-row: 2;
                    }
                }

                img {
                    grid-column: 1 / -1;
                    aspect-ratio: 67 / 26;
                    width: 100%;
                    object-fit: cover;

                    @media (min-width: 660px) {
                        aspect-ratio: 1 / 1;
                        width: 109px;
                        grid-column: 1;
                        grid-row: 1 / 3;
                    }
                }
            }


        }


    }
}



.modal {
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 10vh;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100vw;
    height: 200vh;
    transition: ease-in-out .2s;

    article {
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: var(--grey-lightest);
        margin: auto;
        width: clamp(320px, 75vw, 1200px);
        animation: modal-animation .5s;
        overflow-y: scroll;

        @media (min-width:660px) {
            grid-template-columns: 1fr 1fr 1fr 1fr;
            max-width: 50%;
            height:clamp(500px, 90vh, 950px) ;

        }

        button:first-child {
            grid-row: 1;
            grid-column: 1 / -1;
            z-index: 100;
            height: 20px;
            width: 20px;
            margin: 1rem 1rem 0 auto;

            @media (min-width:660px) {
                grid-column: 4;
                margin: 1rem 1rem 0 auto;

            }
        }

        img {
            object-fit: cover;
            aspect-ratio: 67 / 26;
            width: 100%;
            height: clamp(50px, 100%, 580px);
            grid-column: 1/ -1;
            grid-row: 1;

            @media (min-width:660px) {
                width: 100%;
            }
        }

        h5 {
            padding: var(--spacing-small);
            grid-column: 1 / -1;

            @media (min-width:660px) {
                padding: var(--spacing-medium);
                grid-column: 1/ 3;
            }
        }

        p:first-of-type {
            padding: var(--spacing-small);
            grid-column: 1 / -1;

            @media (min-width:660px) {
                padding: var(--spacing-medium);
                grid-column: 1/ 3;
            }

        }

        p:nth-of-type(2) {
            padding: var(--spacing-small);
            grid-column: 1 / -1;

            @media (min-width:660px) {
                padding: var(--spacing-medium);
                grid-column: 1/ 3;
            }

        }

        p:last-of-type {
            padding: var(--spacing-small);
            grid-column: 1 / -1;

            @media (min-width:660px) {
                padding: var(--spacing-medium);
                grid-column: 1/ 4;
            }

        }

        button:last-child {
            margin: var(--spacing-medium);
            padding: 16px 20px;
            border-radius: 999px;
            border: none;
            background-color: var(--black);
            color: var(--grey-lightest);
            cursor: pointer;
            width: min-content;
            text-wrap: nowrap;
            grid-column: 1 / -1;

            @media (min-width:660px) {
                grid-column: 1;
            }

        }
    }
}

.modal.modal-show {
    display: block;

    article {
        animation: modal-animation .5s forwards;

    }
}

.modal.modal-not-show {
    display: block;
    background-color: transparent;
    transition: ease-in-out .2s;

    article {
        animation: modal-not-show-animation .5s forwards;
    }
}

@keyframes modal-not-show-animation {

    100% {
        transform: translatey(200vw);
    }
}

@keyframes modal-animation {
    0% {
        transform: translatey(100vw);
    }

    100% {
        transform: translaty(-100vw);
    }
}

body:has(.modal-show) {
    overflow: hidden;
}

footer {
    background-color: var(--black);
    grid-column: 1 / -1;

}