/* styling voor dept */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: var(--grey-lightest);
    min-width: 320px;
    max-width: 1440px;
    gap: 0 1rem;


    /* @media (min-width: 660px) {
        grid-template-columns: repeat(12, 1fr);
        margin: 0 auto;
    } */
}



.description {
    background-color: var(--purple);
    grid-column: 1 / -1;
    color: var(--grey-lightest);

    .description-content {
        padding: var(--spacing-medium-horizontal);

        h1 {
            font-size: 36px;
        }
    }




    /* @media (min-width: 660px) {
        grid-column: 1 / 7;
    } */
}

.forecast {
    background-color: var(--grey-neutral);
    grid-column: 1 / -1;
    display: grid;

    .forecast-content {
        padding: var(--spacing-medium-horizontal);

        table {
            width: 100%;

            tbody {
                display: grid;
                padding: var(--spacing-small-vertical);

                tr {
                    display: inherit;
                    justify-content: left;
                    width: 100%;
                    justify-content: space-between;

                    td {
                        grid-row: 2;
                        text-align: center;
                        display: flex;
                        justify-content: left;
                        gap: 10px;

                        img {
                            width: 24px;
                            height: 24px;
                        }
                    }

                    td:first-child {
                        grid-row: 1;
                        grid-column: 1 / 3;
                        text-wrap: nowrap;
                        width: 120px;
                    }
                }
            }
        }

        form {
            padding: var(--spacing-small-vertical);

            fieldset {
                border: none;
                display: flex;
                flex-direction: column;
                gap: 10px;

                legend {
                    padding: var(--spacing-small-vertical);
                }

                label {
                    gap: 10px;

                    input {
                        width: 100%;
                        padding: 16px 20px;
                        border-radius: 999px;
                        border: 1px solid var(--black);
                        color: var(--black);
                        &::placeholder{
                            color: var(--black);
                            text-align: center;
                        }
                    }
                }

                button {
                    padding: 16px 20px;
                    border-radius: 999px;
                    border: none;
                    background-color: var(--black);
                    color: var(--grey-lightest);
                }
            }
        }
    }


    /* @media (min-width: 660px) {
        grid-column: 1 / 7;
    } */

}

.activities {
    background-color: var(--grey-lightest);
    grid-column: 1 / -1;

    /* @media (min-width: 660px) {
        grid-column: 8 / 13;
        grid-row: 1 / 3;
    } */

    .activities-content {
        padding: var(--spacing-medium-horizontal);

        article {
            display: grid;
            margin: 5px;

            .modal-button {
                cursor: pointer;
                border: unset;
            }

            h5 {
                /* @media (min-width: 660px) {
                grid-column: 2;
                grid-row: 1;
            } */
            }

            p {
                /* @media (min-width: 660px) {
                grid-column: 2;
                grid-row: 2;
            } */
            }

            img {
                grid-column: 1 / -1;
                aspect-ratio: 67 / 26;
                width: 100%;
                object-fit: cover;



                /* 
            @media (min-width: 660px) {
                aspect-ratio: 1 / 1;
                width: 109px;
                grid-column: 1;
                grid-row: 1 / 3;
            } */
            }

        }
    }



}

.current-temp {
    display: grid;

    h2 {
        grid-column: 3;
        grid-row: 1 / 3;
        margin: auto;
        font-size: 2rem;
        line-height: normal;
    }

    p:first-of-type {
        grid-column: 1;
        font-size: 4rem;
    }

    p:last-child {
        grid-column: 3;
        grid-row: 3;
    }
}

.modal {
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 10vh;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    article {
        background-color: var(--grey-lightest);
        margin: auto;
        width: clamp(320px, 75vw, 1200px);

        img {
            object-fit: cover;
            aspect-ratio: 67 / 26;
            width: 100%;
            height: clamp(50px, 100%, 580px);
        }
    }
}

.modal.modal-show {
    display: block;
}

body:has(.modal-show) {
    overflow: hidden;
}

footer {
    background-color: var(--black);
    grid-column: 1 / -1;

    /* width: 100vw; */
}