/* Dept styleguide */
html {
    /* colors */
    /* primary */
    --black: hsla(0, 0%, 0%, 1);
    --rose: hsla(256, 90%, 96%, 1);
    --purple: hsla(256, 93%, 53%, 1);
    /* grey */
    --grey-darkest: hsla(0, 0%, 62%, 1);
    --grey-dark: hsla(0, 0%, 77%, 1);
    --grey-neutral: hsla(0, 0%, 85%, 1);
    --grey-light: hsla(0, 0%, 91%, 1);
    --grey-lightest: hsla(0, 0%, 96%, 1);

    /* typeface */
    /* Regular */
    @font-face {
        font-family: 'Lato';
        src: url('../fonts/Lato-Regular.ttf') format('truetype');
        font-weight: 400;
        font-style: normal;
    }

    /* Italic */
    @font-face {
        font-family: 'Lato';
        src: url('../fonts/Lato-Italic.ttf') format('truetype');
        font-weight: 400;
        font-style: italic;
    }

    /* Bold */
    @font-face {
        font-family: 'Lato';
        src: url('../fonts/Lato-Bold.ttf') format('truetype');
        font-weight: 700;
        font-style: normal;
    }

    /* Bold Italic */
    @font-face {
        font-family: 'Lato';
        src: url('../fonts/Lato-BoldItalic.ttf') format('truetype');
        font-weight: 700;
        font-style: italic;
    }

    /* Light */
    @font-face {
        font-family: 'Lato';
        src: url('../fonts/Lato-Light.ttf') format('truetype');
        font-weight: 300;
        font-style: normal;
    }

    /* Light Italic */
    @font-face {
        font-family: 'Lato';
        src: url('../fonts/Lato-LightItalic.ttf') format('truetype');
        font-weight: 300;
        font-style: italic;
    }

    /* Black */
    @font-face {
        font-family: 'Lato';
        src: url('../fonts/Lato-Black.ttf') format('truetype');
        font-weight: 900;
        font-style: normal;
    }

    /* Black Italic */
    @font-face {
        font-family: 'Lato';
        src: url('../fonts/Lato-BlackItalic.ttf') format('truetype');
        font-weight: 900;
        font-style: italic;
    }

    font-family: 'Lato',
    sans-serif;

    /* heading */
    h1 {
        font-family: Lato;
        font-weight: 500;
        font-size: 72px;
        line-height: 86px;
        letter-spacing: 0%;
    }

    h2 {
        font-family: Lato;
        font-weight: 500;
        font-size: 60px;
        line-height: 72px;
        letter-spacing: 0%;
    }

    h3 {
        font-family: Lato;
        font-weight: 500;
        font-size: 48px;
        line-height: 56px;
        letter-spacing: 0%;
    }

    h4 {
        font-family: Lato;
        font-weight: 500;
        font-size: 36px;
        line-height: 43px;
        letter-spacing: 0%;
    }

    h5 {
        font-family: Lato;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0%;
    }

    h6 {
        font-family: Lato;
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 0%;
    }

    p {
        font-family: Lato;
        font-weight: 300;
        font-size: 18px;
        line-height: 30px;
        letter-spacing: 0%;
    }
}