/* styling voor dept */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: var(--grey-lightest);
    min-width: 320px;
    max-width: 1440px;

    @media (min-width: 660px) {
        grid-template-columns: repeat(12, 1fr);
        margin: 0 auto;
    }
}



.description {
    background-color: var(--purple);
    grid-column: 1 / -1;
    color: var(--grey-lightest);

    h1 {
        font-size: 36px;
    }


    @media (min-width: 660px) {
        grid-column: 1 / 7;
    }
}

.forecast {
    background-color: var(--grey-neutral);
    grid-column: 1 / -1;
    display: grid;

    @media (min-width: 660px) {
        grid-column: 1 / 7;

    }

}

.activities {
    background-color: var(--grey-lightest);
    grid-column: 1 / -1;

    @media (min-width: 660px) {
        grid-column: 8 / 13;
        grid-row: 1 / 3;
    }

    article {
        display: grid;
        margin: 5px;

        h5 {
            @media (min-width: 660px) {
                grid-column: 2;
                grid-row: 1;
            }
        }

        p {
            @media (min-width: 660px) {
                grid-column: 2;
                grid-row: 2;
            }
        }

        img {
            grid-column: 1 / -1;
            aspect-ratio: 67 / 26;
            width: 100%;
            object-fit: cover;

            @media (min-width: 660px) {
                aspect-ratio: 1 / 1;
                width: 109px;
                grid-column: 1;
                grid-row: 1 / 3;
            }
        }

    }

}

.current-temp {
    display: grid;

    h2 {
        grid-column: 3;
        grid-row: 1 / 3;
        margin: auto;
        font-size: 2rem;
        line-height: normal;
    }

    p:first-of-type {
        grid-column: 1;
        font-size: 4rem;
    }

    p:last-child {
        grid-column: 3;
        grid-row: 3;
    }
}

footer {
    background-color: var(--black);
    grid-column: 1 / -1;

    /* width: 100vw; */
    @media (min-width: 660px) {}

}